$raw: #d4ad7e;
$gooey: #c18644;
$just-right: #966132;
$burnt: #21190b;
$blue: #82c4d6;
$darkBlue: #5db2c8;
$grey: #797979;
$darkGrey: #606060;

body {
  font-family: 'pathway gothic one';
  text-align: center;
}

.row {
  margin-left: -20px;
}

.span6 {
  padding-left: 10px;
  margin-left: 10px;
  max-width: 50%;
  float: left;
  height: 100%;
}

.span6:last-child {
  border-left: 1px solid #ddd;
}

table#oven {
  background-color: #bbb;
  padding: 5px;
  margin: 5px;
}

table#oven td {
  padding: 8px;
  border-bottom: 2px solid;
}

table#oven td.raw {
  background-color: red;
  color: white;
}

table#oven td.still_gooey {
  background-color: yellow;
  color: black;
}

table#oven td.just_right {
  background-color: green;
  color: white;
}

table#oven td.crispy {
  background-color: black;
  color: white;
}

table#oven span.status {
  margin-left: 5px;
  font-size: 0.8em;
  font-style: italic;
}

h2 {
  font-size: 150px;
  margin: 0px;
  padding: 0px;
}

#welcome {
  font-family: 'pacifico';
  font-size: 70px;
}

#bake_text {
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#cookie_text {
  text-transform: uppercase;
}


#play_button {
  background-color: $blue;
  width: 150px;
  height: 30px;
  border-radius: 25px;
  padding: 10px;
  font-size: 24px;
  margin: 40px auto;
}

#play_button:hover {
  background-color: $darkBlue;
  cursor: pointer;
}


#menu {
  display: inline-block;
}

#tray {
  border: 2px solid black;
  width: 100px;
  height: 125px;
  display: inline-block;
  position: absolute;
  margin-left: 200px;
  overflow: hidden;

}

#cookie {
  width: 27px;
  height: 27px;
  margin: 3px;
  border-radius: 15px;
  background-color: $raw;
  float: left;
}


#oven {
  width: 370px;
  height: 220px;
  border: 10px solid black;
  border-radius: 30px 30px 0 0;
  position: relative;
}



#window {
  margin-top: 45px;
  margin-left: 25px;
  width: 230px;
  height: 150px;
  border: 5px solid black;
  position: relative;
}

#window:before {
  content: '';
  width: 240px;
  height: 30px;
  position: absolute;
  top: -40px;
  left: -5px;
  background-color: grey;
}

#window:after {
  content: '';
  width: 230px;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: #000;
}

#controls {
  position: absolute;
  top: 25px;
  right: 0;
}

#bake {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 30px;
  background-color: #000;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}

#bake p {
  position: relative;
  top: 5px;
}

#raw-cookie {
  width: 50px;
  height: 20px;
  background-color: $raw;
  border-radius: 20px 20px 0 0;
  display: inline-block;
  margin: 10px;
}

#messageholder {
  position: absolute;
  top: 50px;
  text-align: center;
}

#message {
  font-family: raleway;
  font-size: 9px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 50px;
  width: 10px;
  height: 10px;
}


#cookie-holder {
  position: absolute;
  bottom: 60px;
  left: 30px;
}

.knob {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50px;
  position: relative;

  &:before {
    content: '';
    width: 10px;
    height: 30px;
    position: absolute;
    background-color: grey;
    top: 5px;
    left: 15px;
    transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    border-radius: 10px;
  }
}



.one {
  position: absolute;
  top: 70px;
  right: 30px;
}

.two {
  position: absolute;
  top: 130px;
  right: 30px;
}

.still_gooey {
  background-color: $gooey !important;
}

.just_right {
  background-color: $just-right !important;
}

.crispy {
  background-color: $burnt !important;
}





.animated {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}


.animated_fast {
  -webkit-animation-duration: .2s;
     -moz-animation-duration: .2s;
       -o-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes bounceTop{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceTop {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceTop {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes bounceTop {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bounceTop {
  -webkit-animation-name: bounceTop;
  -moz-animation-name: bounceTop;
  -o-animation-name: bounceTop;
  animation-name: bounceTop;
}






@-webkit-keyframes slideDown{
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(500px);
  }
}

@-moz-keyframes slideDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(500px);
  }
}
@-o-keyframes slideDown {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateY(500px);
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(500px);
  }
}

.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;

}

.menu_group, .oven_group {
  display: none;
}


.hidden {
  display: none;
}

.showing {
  display: block;
}