$raw: #d4ad7e;
$gooey: #c18644;
$just-right: #966132;
$burnt: #21190b;
$blue: #82c4d6;
$darkBlue: #5db2c8;
$grey: #868686;
$darkGrey: #2b2b2b;

body {
  font-family: 'pathway gothic one';
  text-align: center;
}

h2 {
  font-size: 150px;
  margin: 0px;
  padding: 0px;
}

#welcome {
  font-family: 'pacifico';
  font-size: 70px;
}

#bake_text {
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#cookie_text {
  text-transform: uppercase;
}

#play_button, #add_oven, input[type='submit'] {
  font-size: 24px;
  color: #fff;
  background-color: $blue;
  width: 150px;
  height: 30px;
  border-radius: 25px;
  padding: 10px;
  margin: 40px auto;
  &:hover {
    background-color: $darkBlue;
    cursor: pointer;
  }
}

#make_batch {
    font-size: 12px;
    margin-top: 10px;
    padding: 10px 10px 20px 10px;
}


#add_oven {
  position: relative;
  left: 150px;
  top: -150px;
}

#menu {
  display: inline-block;
  border: 2px dotted black;
  padding: 70px 25px;
  input {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

#make {
  font-family: 'pacifico';
  font-size: 24px;
}

#cookie {
  width: 45px;
  height: 45px;
  margin: 3px;
  border-radius: 30px;
  background-color: $raw;
  display: block;
}

#cookie_column {
  float: left;
  margin-left: 10px;
}

#oven {
  width: 370px;
  height: 220px;
  border: 10px solid black;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin: 30px auto;
}

#window {
  margin-top: 45px;
  margin-left: 25px;
  width: 230px;
  height: 150px;
  border: 5px solid black;
  position: relative;
}

#window:before {
  content: '';
  width: 240px;
  height: 30px;
  position: absolute;
  top: -40px;
  left: -5px;
  background-color: grey;
}

#window:after {
  content: '';
  width: 230px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
}

#controls {
  position: absolute;
  top: 25px;
  right: 0;
}

#bake {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 30px;
  background-color: $blue;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  &:hover {
    background-color: $darkBlue;
    cursor: pointer;
  }
}

#bake text {
  position: relative;
  top: 5px;
}

#raw-cookie {
  width: 50px;
  height: 20px;
  background-color: $raw;
  border-radius: 20px 20px 0 0;
  display: inline-block;
  margin: 10px;
}

#message_holder {
  position: absolute;
  top: 50px;
  text-align: center;
}

#message {
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 50px;
  width: 10px;
  height: 10px;
}

#cookie-holder {
  position: absolute;
  bottom: 60px;
  left: 42px;
}

.knob {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50px;
  position: relative;

  &:before {
    content: '';
    z-index: 1;
    width: 8px;
    height: 30px;
    position: absolute;
    background-color: $grey;
    top: 5px;
    left: 15px;
    transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    border-radius: 10px;
  }

  &:after {
    content: '';
    width: 12px;
    height: 32px;
    position: absolute;
    background-color: $darkGrey;
    top: 3px;
    left: 15px;
    transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    border-radius: 10px;
  }
}

.one {
  position: absolute;
  top: 70px;
  right: 30px;
}

.two {
  position: absolute;
  top: 130px;
  right: 30px;
}

.still_gooey {
  background-color: $gooey !important;
}

.just_right {
  background-color: $just-right !important;
}

.crispy {
  background-color: $burnt !important;
}

.hidden, .oven_box, .menu_group, #tray {
  display: none;
}

.showing {
  display: block;

  &.play_box {
    margin: 100px auto;
    }
  &.menu_group {
    display: inline-block;
    margin: 30px;
    }
  &#tray {
    border: 2px solid black;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 30px;
    overflow: hidden;
  }
}